body {
    font-family: Arial;
    background-color: beige;
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
    padding: 10px;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.main {
    padding: 20px;
}

.main h2 span {
    color: blue;
}

.social-icons a {
    color: black;
    margin-right: 10px;
}

.cards {
    padding: 20px;
}

.card {
    border: 1px solid gray;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.icon {
    font-size: 25px;
    color: blue;
}

.info p {
    font-size: 14px;
}
